.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.mainPage {
	width: 80%;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.mainContent {
	flex-grow: 1;
	overflow-y: auto;
	padding: 40px 30px;
	height: calc(100vh - 60px);
}

@media screen and (max-width: 750px) {
	.mainPage {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.mainContent {
		padding: 20px 30px;
	}
}
